{% extends 'base.html' %} {% load static %} {% block javascript %}
  <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ paper.title }}</h2>

  <p>
    <strong>著者:</strong> {{ paper.author }}
  </p>
  <p>
    <strong>概要:</strong> {{ paper.abstract }}
  </p>
  <p>
    <strong>投稿日:</strong> {{ paper.published_at }}
  </p>

  <hr />

  <h2>議論スペース</h2>
  {% for comment in paper.comments.all %}
    <div>
      <p>{{ comment.author.username }}: {{ comment.text }}</p>
    </div>
  {% endfor %}

  <form method="post">
    {% csrf_token %} {{ comment_form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
